.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check-mark {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-clean-1 {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-clean-2 {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-clean-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-clean-4 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-clean-5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-email {
	font-size:(15/10)*1rem;
	width:(19/15)*1em;
}
.icon-error {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-mail2 {
	font-size:(485.2/10)*1rem;
	width:(485.2/485.2)*1em;
}
.icon-plus {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-question {
	font-size:(26/10)*1rem;
	width:(26/26)*1em;
}
.icon-tap {
	font-size:(475/10)*1rem;
	width:(475/475)*1em;
}
.icon-tel {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-tel2 {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-viber {
	font-size:(52.5/10)*1rem;
	width:(52.5/52.5)*1em;
}
.icon-whatsapp {
	font-size:(470/10)*1rem;
	width:(470/470)*1em;
}
