mixin s-washing()
	// start s-washing
	+b.SECTION.s-washing.section.lazy-background#s-washing&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-washing
				
			.row
	// end s-washing