.s-clean-saving {
	h2{
		strong{
			display: inline-block;
		}
		padding-bottom: rem(22);
	}
	.section-title{
padding-bottom: rem(8);
		&__icon-wrap{
			display: inline-block;
			width: em(16px);
			height: em(16px);
			border-radius: 50%;
			background-color: #bbe47c;
			color: #ffffff;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			.icon{

				font-size: rem(20);
			}
		}
	}
 
	&__img-wrap{
		width: rem(92px);
		height: rem(92px);
		background-color: #f2f2f2;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);
		// margin-top: rem(-46);
		.icon{
			font-size: rem(48);
			fill: url(#primary-gradient);
		}
	}
	&__item{
		max-width: rem(323px);
		height: rem(192px);
		&--last{
			height: rem(142px);

		}
		box-shadow: 0 2px $h4-font-size 7px rgba(48, 48, 48, 0.05);
		border-radius: 5px;
		background-color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 2;
		text-align: center;
		&::before{
			content: '';
			position: absolute;
			@include a-cent;
			z-index: -1;
			border-radius: 3px;
			border: 1px dashed #dddddd;
			width: calc(100% - 12px);
			height: calc(100% - 12px);
		}
		@extend .h5;
		font-weight: 300;
		margin-bottom: rem(77);
		padding-left: rem(38);
		padding-right: rem(38);
		line-height: 1.4;
		position: relative;
		z-index: 3;
	}
	&__text{
		margin-top: rem(-24);
		a{
			@extend .text-body;
			text-decoration: none !important;
			border-bottom: 1px dashed;
			&:hover{
				border-color: transparent;
			}
		}
	}
	&__col-title{
		text-align: center;
		@include rfs(rem(23));
		line-height: 1.22;
		font-weight: 300;
		margin-bottom: rem(78);
	}
		 
	&__icon-wrap{
	 
		border-width: 50%; 
		border-style: solid;
		border-radius: 50%; 
		background-color: #f2f2f2;
		border: none;
		width: rem(24);
		height: rem(24); 
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			margin-left: 0;
		}
		margin-left: auto;
		margin-right: auto;
		.icon{
			fill: url(#primary-gradient);
			font-size: rem(13);
		}
}

&__block-pdf{
	position: relative;
	font-weight: 500;
	color: #757575;
	@include media-breakpoint-up(sm) {

		padding-top: rem(48);
	}
	z-index: 2;
	&::before{
		content: '';
		position: absolute;
		@include media-breakpoint-up(sm) {

			width: rem(963px);
			height: rem(806px);
			left: rem(-80);
			top: rem(-265);
			transform: translate(0);
			// margin-left: 0;

		}
		@include a-cent;
		left: 60%;
		width: rem(963px / 2);
		height: rem(806px / 2);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: -1;
		pointer-events: none;
	}
}
&.visible &__block-pdf::before{
	
	@include bg("book.png", sm);
}
&__link-pdf{
	width: rem(136px);
	height: rem(136px);
	box-shadow: 0 4px 24px 12px rgba(40, 40, 40, 0.04);
	background-color: #ffffff;
	border-radius: 50%; 
	display: block;
	text-decoration: none !important;
	padding: rem(10);
	// margin-left: rem(20);
	text-align: center;
	@include media-breakpoint-up(sm) {

		// margin-top: rem(75);
		margin-left: rem(62);
	}
	margin-left: auto;
	margin-right: auto;
	padding-top: rem(25);
	z-index: 2;
}
&__label{
	color: #ffffff;
	text-align: center;
	// Style for "Прямоуголь"
width: rem(43px);
margin-left: auto;
margin-right: auto;
height: rem(26px);
border-radius: 3px;
background-color: #ff4242;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none !important;
margin-bottom: rem(10);
}
&__text-pdf{
	@include mt;
	color: #010101;
	border-bottom: 1px dashed;
	display: inline;
	 @extend .h6;
	font-weight: 700;
}
&__link-pdf:hover &__text-pdf{
	border-color:transparent;
}
&__block-pdf-text{
	max-width: rem(280);
	text-align: center;
	margin-left: auto;
	font-weight: 500;
	@include media-breakpoint-up(lg) {
		
		margin-top: rem(142);
		margin-right: rem(65);
	}
	margin-top: rem(180);
}
	@include media-breakpoint-up(xl) {
		padding-top: rem(80);
		padding-bottom: rem(75);
	}

	&__row{
		position: relative;
		@include media-breakpoint-up(md) {

			&::before{
				content: '';
				width: 4px;
				height: calc(100% - #{rem(220)}) ;
				top: rem(110);
				@include a-cent(x);
				background-color: #f8f8f8;
				position: absolute;
			}
			&::after{
				content: '';
				width: calc(100% - #{rem(320)}) ;
				height:  4px;
				top: rem(435);
				@include a-cent(x);
				background-color: #f8f8f8; 
			}
		}
		
	}
	&__logo{
		@include media-breakpoint-up(lg) {

			&::after{
				content: '';
				width: 40px ;
				height:  4px;
				top: rem(435);
				position: absolute;
				left: 50%;
				margin-left: 45px;
				z-index: 4;
				background-color: #f8f8f8; 
			}
		}
		@include media-breakpoint-up(md) {

			&::before{
				content: '';
				width: rem(118px);
				height: rem(118px);
				@include bg("logo-light.jpg");
				@include a-cent(x);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				z-index: 3;
				top: rem(370);
			}
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}