mixin s-clean-saving()
	// start s-clean-saving
	+b.SECTION.s-clean-saving.section.lazy-background#s-clean-saving&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-clean-saving
				
			.row
	// end s-clean-saving