.s-form {
	background-color: #c6c6c8;
	@include media-breakpoint-down(xs) {
		padding-bottom: 0;
		margin-bottom: rem(50);
	}
	h2{
		strong{
			display: block;
		}
	}
	picture{
		width: 140%;
	}
	.object-fit-js{
		@include media-breakpoint-up(sm){
			// object-position: bottom;
		}
		
	}
	@include media-breakpoint-up(lg) {
		padding-top: rem(80);
		padding-bottom: rem(85);
	}
	
	.section-title{
		// margin-right: rem(-50);
		margin-bottom: 0;
		padding-bottom: rem(0);
		@include media-breakpoint-up(lg) {
			max-width: rem(450);
			margin-left: 0;
			text-align: left;
		}
		max-width: rem(320);
		// max-width: rem(750);
		// text-align: center;
		// margin-left: auto;
		// margin-right: auto;
		h2{
			padding-bottom: rem(5);
		}
 
			&__text{
				line-height: 1.39;
				@include rfs(rem(23));
				font-weight: 300;
				// padding-top: rem(5);
			 } 
	}
	&__text{
		@extend .h5;
		font-weight: 500;
		margin-left: rem(50);
		line-height: 1.44;
		position: relative;
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			margin-left: rem(50);
			text-align: left;
			max-width: rem(320);
		}
		max-width: rem(470);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
 
	}
	&__logo{
		@include media-breakpoint-up(lg) {
			
			padding-top: rem(90);
			padding-left: rem(50);
		}
		padding-top: rem(20);
	}
	.form-wrap{
		position: relative;
		z-index: 2; 
		border-radius: 3px;
		background-color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 2px $h4-font-size 7px rgba(48, 48, 48, 0.05);
border-radius: 5px;
&__small-text{
	padding-top: rem(7);
}
&__input-wrap{
	margin-bottom: rem(26);
}
&__btn{
	margin-top: rem(35);
}
@include media-breakpoint-down(xs) {
	margin-bottom: rem(-5);
}
		&::before{
			content: '';
			position: absolute;
			@include a-cent;
			z-index: -1;
			border-radius: 3px;
			border: 1px dashed #dddddd;
			width: calc(100% - 12px);
			height: calc(100% - 12px);
		}
		@include media-breakpoint-up(lg) {

			max-width: rem(470);
			// margin-left: auto;
			margin-right: 0;
			margin-left: auto;
		}
		
				@include media-breakpoint-up(sm) {
					padding: rem(50) rem(43) rem(56);
					 
		
					transform: translateX(-5px);
				}
		padding: rem(28) rem(13) rem(60);
		margin-left: -15px;
		margin-right: -15px;


		.tabs{
			&__caption{
				@include media-breakpoint-down(xs) {
					justify-content: flex-start;
				} 
			 
				// @include media-breakpoint-up(sm) {
				// 	max-width: 100%;
				// }
				// // max-width: rem(240);
			}
			&__btn{
				@include media-breakpoint-down(xs) {
					margin-bottom: rem(10);
				} 

				@include media-breakpoint-up(sm) {
					flex: 0 0 25%;
					min-width: 1%;
				} 
				max-width: 30%;

				// min-width: 25%;
				// max-width: 49%;
				@include media-breakpoint-down(sm) {
				 
				}
				 
			}
		}
	}

	//
	@include media-breakpoint-up(xl) {
		padding-top: rem(85);
	.section-title h2{
		margin-top: rem(-10);
		padding-bottom: rem(10);
	}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
		
		// padding-top: 6rem;
		.form-wrap{

			margin-bottom: rem(30);
		}
		// ]
	}
	@include media-breakpoint-down(xs) {} 

}