include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug

include ../../blocks/header/_header.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include ../../blocks/top-line/_top-line.pug
include ../../blocks/header-block/_header-block.pug
include ../../blocks/s-form/_s-form.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title Технология чистоты, аренда, обслуживание и замена грязезащитных ковров в Магнитогорске
		meta(name="description", content="Грязезащитные коврики для входной зоны офисов, торговых центров и других помещений")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="yandex-verification" content="83de678fce4b9ad4")
		meta(name="keywords" content="влаго грязезащитные коврики, грязезащитные коврики, грязезащитные коврики +для входа, грязезащитный ворсовой ковер, грязезащитный ковер, грязезащитный ковер аренда, грязезащитный коврик аренда, грязезащитный коврик купить, грязезащитный покрытие, замена грязезащитных , ковриков, ковер грязезащитный ворсовый, коврик влаговпитывающий, коврик влаговпитывающий грязезащитный, коврик ворсовый влаго грязезащитный, коврик ворсовый грязезащитный, коврик входной влаго грязезащитный, коврик входной ворсовый влаго грязезащитный, коврик входной грязезащитный, коврик входной грязезащитный ворсовый, коврик грязезащитный +на резиновой основе, коврик грязезащитный +на резиновой основе купить, коврик грязезащитный цена, коврик придверный грязезащитный, коврик резиновый грязезащитный, резиновые грязезащитные коврики купить, резиновый коврик придверный грязезащитный")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		link(rel='shortcut icon',   type="image/png",  href='img/@2x/logo.png')

		// Open Graph properties
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="Технология чистоты")
		meta(property="og:title" content="Технология чистоты, аренда, обслуживание и замена грязезащитных ковров в Магнитогорске")
		meta(property="og:description" content="Грязезащитные коврики для входной зоны офисов, торговых центров и других помещений")
		meta(property="og:url" content="https://kovrikmag.ru/")
		meta(property="og:locale" content="ru_RU")
		meta(property="og:image" content="files/og.jpg")
		meta(property="og:image:width" content="968")
		meta(property="og:image:height" content="504")
		
		// Custom Browsers Color
		meta(name='theme-color', content='#30b6ed')
		
		//- link(rel="stylesheet", href="libs/magnificPopup/magnific-popup.css")
		//- //- link(rel="stylesheet", href="libs/swiper-4.2.0/swiper.min.css")
		//- link(rel="stylesheet", href="libs/slick/slick.css")
		//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")

		//- link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/main.min.css")
	block php
	block variables
	body(class= mainPage)
		.main-wrapper
			block pagecontent
				h3 content
		+modal()
		//- link(rel="stylesheet", href="fonts/fontello/css/fontello.css")
		script(src="js/lazy.js")
		script(src="js/jquery.min.js")
		//- script(src="js/jquery.min.js")
		//- bootstrab libs
		//- script(src="libs/popper.min.js")
		//- script(src="libs/bootstrap/util.js")
		//- script(src="libs/bootstrap/dropdown.js")
		//- script(src="libs/bootstrap/tooltip.js")
		//- script(src="libs/bootstrap/popover.js")
		//- /bootstrab libs
		// полифил для picture
		script(src="libs/picturefill.min.js")
		// полифил для object-fit
		script(src="libs/object-fit-images/dist/ofi.min.js")
		// modal libs
		//- script(src="libs/magnificPopup/jquery.magnific-popup.min.js")
		// modal libs
		// slider libs
		script(src="libs/slick/slick.min.js")
		//- script(src="libs/swiper-4.2.0/swiper.min.js")
		// /slider libs
		// for svg libs
		script(src="libs/svg4everybody-master/svg4everybody.min.js")
		// /for svg libs
		//- cut text libs
		//- script(src="libs/jquery.morelines.min.js") 
		//- /cut text libs
		script(src="libs/jquery.touchSwipe.min.js")
		//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
		//- custom input range libs
		//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
		//- /custom input range libs

		//- mask for  input  libs 

		script(src="libs/fancybox/jquery.fancybox.min.js")
		script(src="libs/jquery.inputmask.bundle.min.js")
		//- / mask for  input  libs

		//- script(src="js/scripts.min.js")

		script(src="js/common.js")
		<svg class="invisible">
			<linearGradient id="whatsapp-gradient"  x1="0%" y1="0%"    x2="0%" y2="100%">
			<stop offset="0%"  stop-color="#c3ec8a"/>
			<stop offset="100%"   stop-color="#8bb72a"/>
			</linearGradient>
			
			<linearGradient id="viber-gradient"  x1="0%" y1="0%"    x2="0%" y2="100%">
			<stop offset="0%"  style="stop-color:#a68aec"/>
			<stop offset="100%"   style="stop-color:#7d20e6"/>
			</linearGradient>

			<linearGradient id="success-gradient"  x1="0%" y1="0%"    x2="0%" y2="100%">
			<stop offset="0%"   stop-color="#8eb930"/>
			<stop offset="100%"  stop-color="#a2d032"/>
			</linearGradient>
			<linearGradient id="primary-gradient" gradientUnits="userSpaceOnUse" x1="165.4035" y1="344.0104" x2="165.4035" y2="397.3238" gradientTransform="matrix(1 0 0 -1 0 504)">
				<stop  offset="0" style="stop-color:#1B8ACA"/>
				<stop  offset="0.4976" style="stop-color:#27A9E5"/>
				<stop  offset="1" style="stop-color:#31C5FC"/>
			</linearGradient>

		</svg>